.card {
  width: 180px;
  position: relative;
}

.card--photo{
  width: 100%;
}

p {
  line-height: 13px;
}

.card--rating {
  display: flex;
  align-items: center;
  margin-bottom: -10px;
  font-size: 12px;
  font-weight: 300;
}

.rating--icon {
  width: 13px;
  height: 12px;
  margin-right: 4px;
}

.rating--info {
  color: #918E9B;
}

.card--description {
  font-size: 12px;
  font-weight: 300;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #FF5A5F;
  color: #FFFFFF;
  padding: 3px 5px;
  border-radius: 4px;
  font-weight: 700;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
}
